{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    [
      "import",
      {
        "libraryName": "view-design",
        "libraryDirectory": "src/components"
      }
    ]
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["> 1%", "IE >9", "and_uc > 10"]
      }
    }]
  ]
}
